@tailwind base;
@tailwind components;
@tailwind utilities;

/* Glow effect */
.glow-icon {
  animation: spin 3s infinite linear;
}

.glow {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.6);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
